@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Ticket Booked Successfully!</h1>
        Your Order Number is : @Model <br /><br />
        <img src="https://www.freepnglogos.com/uploads/thank-you-png/thank-you-blessings-others-18.png" width="200" alt="colorful thank you square boxes png clipart" /></a>
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Your ticket has been paid successfully! <br />
        
    </div>
</div> 