
<div id="carouselExampleCaptions" class="carousel slide shadow" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex flex-column h-100 align-items-center justify-content-center">
          <h1>Travelling Made Easy</h1>
          <p>Download TravelTix's mobile app!</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex flex-column h-100 align-items-center justify-content-center">
          <h1>Fly for Less</h1>
          <p>Get a 10% discount for a flight to anywhere in Indonesia!</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex flex-column h-100 align-items-center justify-content-center">
          <h1>Europe Tour</h1>
          <p>Travel to six countries across Europe</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="section-title">
    <h3>Explore popular destinations in Indonesia</h3>
  </div>
  <div class="card-container">
    <div class="card-item shadow">
      <div class="loc-image">
        <img class="card-img" src="~/images/assets/jakarta.jpg" alt="">
      </div>
      <h4>Jakarta</h4>
      <p>Sebagai Monumen Nasional Indonesia. Monas merupakan tempat untuk berwisata Museum Sejarah dan kesenian Indonesia. Dilengkapi dengan fasilitas olahraga dan taman rusa membuat Monas salah satu destinasi populer.</p>
    </div>

    <div class="card-item shadow ml-3">
      <div class="loc-image">
        <img class="card-img" src="~/images/assets/bali.jpg" alt="">
      </div>
      <h4>Bali</h4>
      <p>Sebagai jantung pariwisata Indonesia. Bali merupakan tempat yang pas untuk bulan madu ataupun liburan. Dikelilingi pantai-pantai yang indah membuat Bali salah satu tujuan eksotis.</p>
    </div>

    <div class="card-item shadow">
      <div class="loc-image">
        <img class="card-img" src="~/images/assets/bunaken.jpg" alt="">
      </div>
      <h4>Bunaken</h4>
      <p>Taman nasional yang berada di Sulawesi Utara. Bunaken merupakan tempat pelestarian terumbu karang tercantik se-Indonesia. Tempat yang sangat cocok untuk berlibur dari penatnya ibu kota.</p>
    </div>

    <div class="card-item shadow">
      <div class="loc-image">
        <img class="card-img" src="~/images/assets/komodo.jpg" alt="">
      </div>
      <h4>Nusa Tenggara Timur</h4>
      <p>Sebagai jantung pariwisata Indonesia. Pulau Padar merupakan tempat untuk berlibur dan bulan madu. Dikelilingi pemandangan alam yang indah menjadikan Pulau Padar tujuan eksotis.</p>
    </div>
  </div>

